<a href="https://colab.research.google.com/github/AdhikariShehzeen/python_practice_questions/blob/main/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A.P
Given first term (a), common difference (d) and a integer n of the Arithmetic Progression series, the task is to print the series.
Examples :


Input : a = 5, d = 2, n = 10
Output : 5 7 9 11 13 15 17 19 21 23

We no the Arithmetic Progression series is like = 2, 5, 8, 11, 14 …. …
In dis series 2 is the starting term of the series .
Common difference = 5 – 2 = 3 (Difference common in teh series).
so we can write the series as :
t1 = a1
t2 = a1 + (2-1) * d
t3 = a1 + (3-1) * d
.
.
.
tn = a1 + (n-1) * d

---

In [ ]:
# reverse the list

def reverse(l):
  start = 0
  end = len(l)-1
  while (start <= end):
    l[start], l[end] = l[end], l[start]
    start += 1
    end -= 1
  return l


l = [3,11,5,9,4]
l = reverse(l)
print(l)

[4, 9, 5, 11, 3]

In [ ]:
def check_armstrong(n):
    """Function to check whether a number is an armstrong number or not
    Print true if yes else false """
    ans = 0
    while(n != 0):
        digit  = n%10
        ans = ans + (digit**3)
        print(ans)
        n = n//10
        print('n==',n)

    print(ans)

    if ans == n:
        print('true')
    else:
        print('false')


    """Dont change anything below. If changed click on reset."""


check_armstrong(370)

0
n== 37
343
n== 3
370
n== 0
370
false

In [ ]:
# swaping alternate elements
l = [2,3,6,7,1,9]
l =

SyntaxError: ignored

In [ ]:
def ap(a,n,d):
  curr_term = a
  # print(n)
  for i in range(1,n+1):
    print(curr_term)
    curr_term += d


# Driver code
a = 2
d = 3
n = 5

ap(a, n, d)

In [ ]:
# Reverse the alternate
# input = [1,3,5,7,9]
# output = [3,1,7,5,9]

def swapAlternate(l1):
  for i in range(0,len(l1),2):
  # print(i)
    if i+1 < len(l1):
      l1[i],l1[i+1] = l1[i+1],l1[i]
  return l


l = [1,3,5,7,9]
l = swapAlternate(l)
print(l)

Teh Fibonacci numbers are teh numbers in teh following integer sequence.
0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ……..

In mathematical terms, teh sequence Fn of Fibonacci numbers is defined by teh recurrence relation

Fn = Fn-1 + Fn-2

In [ ]:
n = 10
first = 0
second = 1
sum = 0
for i in range(n):
  print(sum, end = " ")
  first = second
  second = sum
  sum = first + second

0 1 1 2 3 5 8 13 21 34

In [ ]:
#  find unique element
def findUnique(arr) :
    #Your code goes here
    ans = 0
    for num in arr:
      ans = ans^num
      print(ans)
    return ans

arr = [2,3,4,3,2]
ans = findUnique(arr)
print(ans)

2
1
5
6
4
4

In [ ]:
arr = [8, 1, 4, 2, 6, 5, 5, 7, 3 ]

ans = 0

for i in range(len(arr)):
  # print(arr[i])
  ans ^= arr[i]

#   # print(ans)
for i in range(0,len(arr)-1):
  # print(arr[i])
  ans ^= arr[i]
print(ans)

3

In [ ]:
l1 = [1, 2, 3, 4, 3]

result = 0

# XOR all elements from length of l1 to len(l1)-1
for i in range(len(l1), len(l1)-1,):
    result ^= l1[i]

print(result)

0

In [ ]:
def find_duplicates(arr):
    seen = set()
    duplicates = []

    for num in arr:
        if num in seen:
            duplicates.append(num)
        else:
            seen.add(num)

    return duplicates

arr = [[8, 1, 4, 2, 6, 5, 5, 7, 3]]
duplicate_elements = find_duplicates(arr)
print(duplicate_elements)

TypeError: ignored

In [ ]:
import collections
nums = [8, 1, 4, 2, 6, 5, 5, 7, 3,3]
[key for key,value in collections.Counter(nums).items() if value == 2]

[5, 3]

In [ ]:
nums = [8, 1, 4, 2, 6, 5, 5, 7, 3,3]
dups = []
i = 0
while(i<len(nums)):
  if nums[i] in nums[i+1:]:
    dups.append(nums[i])
  i +=1

In [ ]:
nums = [8, 1, 4, 2, 6, 5, 5, 7, 3,3]
nums.append([1,2])

In [ ]:
arr = [1, 2, 3, 1, 2, 3]
k = 6
n = 6
sorted(arr)
ans = []
for i in range(n):
    target = k-arr[i]
    front = i+1
    back = n-1
    while(front < back):
        if arr[front] + arr[back] < target:
            front += 1
        elif arr[front] + arr[back] > target:
            back -= 1
        else:
            x = arr[front]
            y = arr[back]
            ans.append(arr[i])
            ans.append(arr[front])
            ans.append(arr[back])

            while(front < back and arr[front] == x):
                front += 1
            while(front < back and arr[back] == y):
                back -= 1

    while(i+1 < n and arr[i] == arr[i+1]):
        i += 1

In [ ]:
set(ans)

In [ ]:
arr = [0,1,1,0,1,2,1,2,0,0,0]
low = 0
mid = 0
high = len(arr)-1

while(mid<=high):
  if arr[mid] == 0:
    arr[low],arr[mid] = arr[mid], arr[low]
    low += 1
    mid += 1
  elif arr[mid]==1:
    mid += 1
  else:
    arr[mid], arr[high] = arr[high], arr[mid]
    high -= 1

In [ ]:
arr

In [ ]:
# First and last occurance

from os import *
from sys import *
from collections import *
from math import *
arr = [1,2,3,3,3,3,3,5]
n = len(arr)
k = 3

def firstPosition(arr, n, k):
    s = 0
    e = n-1
    mid = (s+e)//2
    pos = 0
    while(s<e):
        if arr[mid] == k:
            pos = mid
            e = mid-1
        elif arr[mid] < k:
            s = mid+1

        elif arr[mid] > k:
            e = mid-1

        mid = (s+e)//2
    return pos

def lastPosition(arr, n, k):
    s = 0
    e = n-1
    mid = (s+e)//2
    pos = 0
    while(s<e):
        if arr[mid] == k:
            pos = mid
            s = mid+1
        elif arr[mid] < k:
            s = mid+1

        elif arr[mid] > k:
            s = mid-1

        mid = (s+e)//2
    return pos


def firstAndLastPosition(arr, n, k):

    firstpos = firstPosition(arr, n, k)
    lastpos = lastPosition(arr, n, k)

    # positions = [firstpos, lastpos]

    # Write your code here


    return firstpos, lastpos

In [ ]:
# 852. Peak Index in a Mountain Array

# first Approach
arr = [0,2,1,0]
pos = arr.index(max(arr))

# second Approach
def peakIndex(arr):
  s = 0
  e = len(arr)
  mid = s+e//2
  while(s<e):
    if arr[mid] < arr[mid+1]:
      s = mid+1
    else:
      e = mid
    mid = s+e//2
  return s



print(pos)
print('second Approch', peakIndex(arr))

1
second Approch 1

In [ ]:
# Selection Sort
arr = [64,25,12,22,11]
n = len(arr)
for i in range(n):
  minIndex = i
  for j in range(i+1,n):
      if arr[j] < arr[minIndex]:
          minIndex = j

  arr[minIndex], arr[i] = arr[i], arr[minIndex]
print(arr[minIndex])

64

In [ ]:
# Bubble Sort
arr = [10,1,7,6,14,9]
n = len(arr)
for i in range(1,n):
  for j in range(0,n-i):
    if arr[j] > arr[j+1] :
      arr[j], arr[j+1] = arr[j+1], arr[j]

print(arr)

[1, 6, 7, 9, 10, 14]

In [ ]:
#insertion sort
arr = [10,1,7,4,8,2,11]
n = 7
for i in range(1,n):
  temp = arr[i]
  j = i-1
  while(j>=0):
    if arr[j] > temp :
      #shift
      arr[j+1] = arr[j]
      j -= 1
    else:
      break
  print(j)
  arr[j+1] = temp

print(arr)

-1
0
0
2
0
5
[1, 2, 4, 7, 8, 10, 11]

In [ ]:
#reverse an array after mth position
arr = [1,2,3,4,5,6]
m = 3
s = m+1
e = len(arr)-1
while(s<=e):
    arr[s],arr[e] = arr[e], arr[s]
    s += 1
    e -= 1
print(arr)

[1, 2, 3, 4, 6, 5]

In [ ]:
# 88. Merge Sorted Array
nums1 = [1,2,3,0,0,0]
m = 3
nums2 = [2,5,6]
n = 3
i = 0
j = 0
k = 0

while(i<m and j<n):
  # print(i)
  # print(j)
  if nums1[i] < nums2[j]:
    print('in i::::', nums1[i])

    nums1[k] = nums1[i]
    i += 1
    k += 1

  else:
    print('in J::::',nums2[j])
    nums1[k] = nums2[j]
    j += 1
    k += 1
print(nums1)
#copy remaining elements from ethir nums1 or nums2
while(i<m):

  nums1[k] = nums1[i]
  i += 1
  k += 1

while(j<n):
  nums1[k] = nums2[j]
  j += 1
  k += 1

print(nums1)

# second Approach
nums1[:] = sorted(nums1[:m] + nums2[:n])

in i:::: 1
in J:::: 2
in i:::: 2
in i:::: 2
[1, 2, 2, 2, 0, 0]
[1, 2, 2, 2, 5, 6]

In [ ]:
# 283. Move Zeroes
# Input:
nums = [0,1,0,3,12]
# Output: [1,3,12,0,0]
i = 0
for j in range(len(nums)):
  if nums[j] !=0:
    nums[i], nums[j] = nums[j], nums[i]
    i += 1
print(nums)

[1, 3, 12, 0, 0]

In [ ]:
# 189. Rotate Array
# formula to get the rotating position (i+k)% len(nums)
nums = [1,2,3,4,5,6,7]
k = 3
# Output: [5,6,7,1,2,3,4]
temp[:] = nums
for i in range(len(nums)):
  temp[(i+k)% len(nums)]  = nums[i]
nums[:] = temp

print(nums)

[5, 6, 7, 1, 2, 3, 4]

In [ ]:
'''
1752. Check if Array Is Sorted and Rotated

Given an array nums, return true if the array was originally sorted in non-decreasing order, then rotated some number of positions (including zero). Otherwise, return false.

There may be duplicates in the original array.

Note: An array A rotated by x positions results in an array B of the same length such that A[i] == B[(i+x) % A.length], where % is the modulo operation.



Example 1:

Input: nums = [3,4,5,1,2]
Output: true
Explanation: [1,2,3,4,5] is the original sorted array.
You can rotate the array by x = 3 positions to begin on the the element of value 3: [3,4,5,1,2].
Example 2:

Input: nums = [2,1,3,4]
Output: false
Explanation: There is no sorted array once rotated that can make nums.
Example 3:

Input: nums = [1,2,3]
Output: true
Explanation: [1,2,3] is the original sorted array.
You can rotate the array by x = 0 positions (i.e. no rotation) to make nums.
'''


class Solution:
  def check(self, nums: List[int]) -> bool:
      count = 0
      n = len(nums)

      for i in range(1, n):
          if nums[i-1] > nums[i]:
              count +=1

      #check for last and first element
      if nums[n-1] > nums[0]:
          count += 1
      return count <= 1

7

In [ ]:
a = [1,2,3]
b = [5,0]
n = len(a)
m = len(b)
i = n-1
j = m-1
carry = 0
ans = []

while(i>=0 and j>=0):
        val1 = a[i]
        val2 = b[j]
        summ = val1+val2+carry
        caryy = summ//10
        summ = summ%10
        ans.append(summ)
        i -= 1
        j -= 1


# first case
while(i>=0):
    summ = a[i]+ carry
    carry = summ//10
    summ = summ%10
    ans.append(summ)
    i -= 1

# second case
while(j>=0):

    summ = b[j]+ carry
    carry = summ//10
    summ = summ%10
    ans.append(summ)
    j -= 1

# third case
while(carry!=0):
    summ = carry
    carry = summ//10
    summ = summ%10
    ans.append(summ)



ans = ans[::-1]
print(type(ans))
print(ans)

<class 'list'>
[1, 7, 3]

In [ ]:
Enter a number: 12345
# Reverse of teh number: 54321

num = 12345
digit = 0
ans = 0
while(num!=0):
  digit = num%10
  ans  = ans*10 +digit
  num = num//10

In [ ]:
# Anagram Program in Python
s1 = 'bat'
s2 = 'tab'
if sorted(s1) == sorted(s2):
  print('anagram')
else:
  print('not an anagram')

anagram

In [ ]:
n = 8
num = 1
for i in range(1,n+1):

        num = i**3

        if num > n:
            break
        print(num)

1
8

In [ ]:
for i in range (5,0,-1):
        print(i*('*'))
for i in range(1,5+1):
    print(i*('*'))

*****
****
***
**
*
*
**
***
****
*****

In [ ]:
def generate_primes(n):
    primes = []
    num = 2  # Starting from the first prime number

    while len(primes) < n:
        is_prime = True

        # Check if num is divisible by any previous prime numbers
        for prime in primes:
            if num % prime == 0:
                is_prime = False
                break

        # If num is not divisible by any previous primes, add it to the list
        if is_prime:
            primes.append(num)

        num += 1

    return primes

# Example usage:
n = 5  # Replace 5 with the desired value
result = generate_primes(n)

# Print the result (array of first n prime numbers)
print(result)

In [ ]:
def print_pattern(rows):
    for i in range(1, rows + 1):
        print('*' * i + ' ' * (rows - i) + '*' * (i))

# Example usage
rows = 5  # You can change this value to adjust the number of rows
print_pattern(rows)

*    *
**   **
***  ***
**** ****
**********

In [ ]:
row-(5+1)

-1

In [ ]:
'palindrome'

s = 'A1b22Ba'
s = ''.join(filter(str.isalnum, s)).lower()
print(s)
st = 0
en = len(s)-1
while(st<=en):
  if s[st].lower() != s[en].lower():
    print('No')
    break

  else:
    st += 1
    en -= 1

print('Yes')

a1b22ba
No
Yes

In [ ]:
s = 'testsample'
from collections import Counter
s = ''.join(sorted(s)).strip()
ans = {key:value for key,value in Counter(s).items()}
max(ans, key = ans.get)

'e'

In [ ]:
new = ''.join(sorted(s))

In [ ]:
#Remove duplicates from list of dict
books = [

{ 'title': "C++", 'author': "Bjarne" },
{ 'title': "Java", 'author': "James" },
{ 'title': "Python", 'author': "Guido" },
{ 'title': "Java", 'author': "James" },
{ 'title': "Python", 'author': "Guido" },
{ 'title': "C++", 'author': "Bjarne" },]

result = []
for book in books:
  if book not in result:
    result.append(book)

print(result)

[{'title': 'C++', 'author': 'Bjarne'}, {'title': 'Java', 'author': 'James'}, {'title': 'Python', 'author': 'Guido'}]

In [ ]:
#Merge dict values into list of values for same keys
inputA = {'a': 1,
'b': 2,
'c': 3
}
#let
inputB = {
'b': 3,
'c': 4,
'd': 5
}
"""
Output -
{
a: 1
b: [2,3]
c: [3,4]
d: 5
}
"""
result = inputA.copy()
for i in inputB.keys():
  if i in result:
    result[i] = [result[i]]
    result[i].append(inputB[i])
  else:
    result[i] = inputB[i]
print(result)

{'a': 1, 'b': [2, 3], 'c': [3, 4], 'd': 5}

In [ ]:

result.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [ ]:
from numpy import sort
#Second max element from list
data = [10, 80, 20, 30, 70]
largest = 0
second_largest = 0
for i in range(len(data)):
  if data[i] > largest:
    sencond_largest = largest
    largest = data[i]
  # elif data[i]<largest and data[i]> second_largest:
  #   second_largest = data[i]
  else:
    second_largest = data[i]
print(second_largest)

# second Approach
second_largest = sort(list(set(data)))[-2]

70

An Anagram is a word or phrase formed by rearranging the letters of a different word or
phrase, typically using all the original letters exactly once.
Example 1:
Input: strs = ["eat","tea","tan","ate","nat","bat"]
Output: [["bat"],["nat","tan"],["ate","eat","tea"]]
Example 2:
Input: strs = [""]
Output: [[""]]
Example 3:
Input: strs = ["a"]
Output: [["a"]]

---

In [ ]:

from collections import defaultdict
strs = ["eat","tea","tan","ate","nat","bat"]

anagram_map = defaultdict(list)

for word in strs:
    sorted_word = ''.join(sorted(word))
    anagram_map[sorted_word].append(word)
print(list(anagram_map.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [ ]:
anagram_map

defaultdict(list,
            {'aet': ['eat', 'tea', 'ate'],
             'ant': ['tan', 'nat'],
             'abt': ['bat']})

In [ ]:
#List comprehension extend
a=[[1,2],[3,4],[5,6]]
# output = [1, 2, 3, 4, 5, 6]
[a[0].extend(i) for i in a[1:]]


print(a[0])

[1, 2, 3, 4, 5, 6]

User exist
"""
1. Check User Exists in models
user1 = 'user'
user.objects.filter(UserName=user1)
2. get 3rd max salary from models
x = salary.objects.distinct('Amount').order_by('-Amount')[:3]


"""

In [ ]:
# 3.sort list of elements without using any inbuild function
list1 = ["15", "3", "5", "1", "42", "0", "4"]
# O/P = [0,1,3,4,5,15,42]

for i in range(1,len(list1)):
  for j in range(len(list1)-i):
    if int(list1[j]) > int(list1[j+1]):
      list1[j], list1[j+1] = int(list1[j+1]), int(list1[j])
print(list1)

[0, 1, 3, 4, 5, 15, 42]

"""
Find the first unique character from the string without using any inbuild function
E.g str1 = "Congratulations C"
O/P - g
"""
str1 = "x Conxgratulations C"

In [ ]:
str1 = "Congratulations C"

from collections import Counter
d = dict()
for char in str1:
  d[char] = d.get(char,0)+1

print(d)
for key in d.keys():
  if d[key]==1:
    ans.append(key)
print(ans[0])

# second approach
d = {key:value for key,value in Counter(str1).items()}
ans = min(d, key = d.get)
print(ans)

{'C': 2, 'o': 2, 'n': 2, 'g': 1, 'r': 1, 'a': 2, 't': 2, 'u': 1, 'l': 1, 'i': 1, 's': 1, ' ': 1}
g
g

In [ ]:
#Binary Search
k = 10
data = [1, 5, 7, 10, 16, 20]

s = 0
e = len(data)-1



while(s<e):

  if data[mid] == k:
    print('key found at position::', mid)

  elif k < data[mid]:
    e = mid-1
  elif k > data[mid]:
    s = mid + 1
  mid = (s+e)//2

key found at position:: 3

In [ ]:
#Decimal to binary
def decimal_to_binary(d):

reached

In [ ]:
d = 6
ans = 0
i = 0
while(d!=0):
  b = d%2
  ans += b* 10 **i
  d = d//2
  i += 1
print(ans)

110

100

In [ ]:
arr = [1,2,3,5]
n = 5
ans = [False] * 5
missing_value = -1
print(ans)
for i in range(n):
  if i+1 in arr:
    ans[i] = True
  else:
    missing_value = i+1
print(ans)
print(missing_value)

[False, False, False, False, False]
[True, True, True, False, True]
4

In [ ]:
str1 = "Ab,c,de!$"
# Output:  str = "ed,c,bA!$"
str1 = list(str1)
s = 0
e = len(str1)-1

while(s<e):
  if str1[s].isalnum() == False:
    s += 1
  elif str1[e].isalnum() == False :
    e -= 1
  else:
    str1[s], str1[e] = str1[e], str1[s]
    s += 1
    e -= 1
str1 = ''.join([i for i in str1])

In [ ]:
str1

'ed,c,bA!$'

In [ ]:
str1 = 'Coding Ninjas Is A Coding Platform'
# outpu = Coding@40Ninjas@40Is@40A@40Coding@40Platform
str1.replace(' ', '@40')

'Coding@Ninjas@Is@A@Coding@Platform'

Input: s = "daabcbaabcbc", part = "abc"
Output: "dab"
Explanation: The following operations are done:
- s = "daabcbaabcbc", remove "abc" starting at index 2, so s = "dabaabcbc".
- s = "dabaabcbc", remove "abc" starting at index 4, so s = "dababc".
- s = "dababc", remove "abc" starting at index 3, so s = "dab".
Now s has no occurrences of "abc".

In [ ]:
s = "daabcbaabcbc"
part = 'abc'
while part in s:
  s = s.replace(part, '',1)
print(s)

dab

aabababa
ababa
ba

In [ ]:
str1 = ['abc','cfg']
s = ','.join([t for t in str1])

In [ ]:
operations = ["X++","++X","--X","X--"]
X = 0
for op in  operations:
  if  '--' in op:
      X -= 1
  else:
      X += 1

print(X)

0

In [ ]:
jewels = "aA"
stones = "aAAbbbb"


from collections import Counter
result = 0
count = {key:value for key,value in Counter(stones).items()}
print(count)

for j in jewels:
  if j in count.keys():
    if count[j] != 0:
      result += 1
      count[j] -= 1

print(count)
print(result)

{'a': 1, 'A': 2, 'b': 4}
{'a': 0, 'A': 1, 'b': 4}
2

In [ ]:
jewels = "aA"
stones = "aAAbbbb"
count = 0
for s in stones:
  if s in jewels:
    count +=1
print(count)

3

In [ ]:
def countPrimes(self, n: int) -> int:
        if n==0 or n==1:
            return 0
        prime = [True]*n
        prime[0], prime[1] = False,False
        count = 0

        for i in range(2,n):
            if prime[i]:
                count +=1
                for j in range(2*i,n, i):
                    prime[j] = False
        return count

13

In [ ]:
from requests_html import HTMLSession
from bs4 import BeautifulSoup

from time import sleep
import json
import pandas as pd

url = 'https://500.co/companies'

session = HTMLSession()
r = session.get('https://cms.500.co/wp-json/companies-airtable/v1/all')
print(r)

companies = json.loads(r.text)

companies_details = []
# getting all companies detail by iterating on each dictionary
for i,c in enumerate(companies):
    print(i)
    company = {}
    company['ID'] = c['id']
    company['CreatedTime'] = c['createdTime']
    try:
        company['Name'] = c['fields']['Company Alternative Name(s)'].split(';')[0]
    except:
        company['Name'] = c['fields']['Legal Name']
    company['Industry'] = c['fields']['Industry']
    try:
        company['Sub Industry'] = ','.join([t for t in c['fields']['Sub-industry']])
    except:
        company['Sub Industry'] = '-'
    try:
        company['Country'] = c['fields']['Country']
    except:
        company['Country'] = '-'

    companies_details.append(company)

df = pd.DataFrame(companies_details)
print(df)
# companies_detail = df.to_csv('companies_detail.csv', index=False)

ModuleNotFoundError: ignored

In [ ]:
int(10 ** 0.5)

3

In [ ]:
import requests
from selenium import webdriver
from selenium.webdriver.common.by import By
from time import sleep
from selenium.webdriver.chrome.options import Options
import json
import pandas as pd